<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
	<script type='text/javascript' src='./js/form.js'></script>

	</head>

	<body>
	<ul>
	<button id = "show">View Search History</button>&nbsp&nbsp<button id = "hide"> Hide Search History</button>
	</ul>
	<div id="Show"></div>
	<br/>
	<h1> TweEmotions</h1>&nbsp&nbsp<h2>Twitter Sentiment Analysis</h2>

	
	<p id="inputArea">Type the search word below:</p>
	<input id="searchword" type="text" name="searchword"/><br>

	<br></br>
	<button id = "enter" type="submit">Search</button>
	<div id="AllTweets"></div>
	<br></br>

	
	
	</body>
	<footer>
  <p id="test"> Copyright 2015 | <a href="mailto:info@tweemotions.com">Contact Us</a> </p>
</footer>
</html>