<!DOCTYPE html>
<html>
	<head>
		<title>Member's Page</title>
	</head>
	<body>
		<p>Welcome <%= member %></p>
		<p>Because you are logged in, here is the information only for members...</p>
	</body>
</html>